:root {
   
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;

  --nord15: #b48ead;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none; 
}

*::-webkit-scrollbar {
  width:1rem;  
}
*::-webkit-scrollbar-corner {
  background-color:var(--nord8);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--nord3);
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
*::-webkit-scrollbar-track {
  background-color: var(--nord0);


}
*{
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--nord10);
  text-decoration: inherit;
}
a:hover {
  color: var(--nord10);  
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  background:repeating-linear-gradient(
    45deg,
    var(--nord0),
    var(--nord0) 5px,
    var(--nord1) 5px,
    var(--nord1) 10px
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:var(--nord3);
  cursor: pointer;
  transition: border-color 0.25s;
  color:white
}
button:hover {
  border-color:var(--nord10);
}
button:disabled{
  color:var(--nord1)
}
button:disabled:hover {
  border-color:transparent;
}

#app {
  max-width: 1280px;
  width:100%;
  display: flex;
  flex-direction: column;
  height:100vh;
  margin:auto;
  box-shadow: #000000 0px 0px 50px 0px;
  background-color: var(--nord0);
}
@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  } */
}